<!-- Image and text -->
<nav class="navbar navbar-light bg-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="#">
      <img src="https://image.flaticon.com/icons/svg/554/554857.svg" width="80" height="70" class="d-inline-block align-top" alt="">
     
    </a>

</nav>