<!-- Image and text -->
<nav class="navbar navbar-light bg-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="#">
      <img src="https://www.sps.gov.sg/images/default-source/default-album/1-sps-logo-2019-noborder-webres.png"  class="d-inline-block align-top" alt="">
     
    </a>

</nav>